* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;


}

 div > p {
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;

}

.green {
    background: rgb(107, 176, 107);
    width: 100%;
    padding: .5em;
    position: relative;
}

.green_d-none {
    display: none;
}

.red {
    background: rgb(205, 12, 12);
    width: 100%;
    padding: .5em;
    position: relative;
}

.red_d-none {
    display: none;
}


#Success_btn {
    position: absolute;
    right: 0;
    top: 20%;
    margin-right: 2em;
    color: white;
    background: black;
}

#Failure_btn {
    position: absolute;
    right: 0;
    top: 20%;
    padding: .1em;
    margin-right: 2em;
    color: rgb(249, 239, 239);
    background: black;


}

.container {
    margin: .5em;
    max-width: 100rem;
}
.container h1{
    margin-left: .3em;
}


.form-group {
    margin: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

label {
    font-weight: bolder;

}

select,
input {
    padding: .5em;
    margin-top: .5em;
    width: 50vw;
    border-radius: 1rem;
    border: 2px solid black;
}

.formerror {
    color: red;
    font-weight: bolder;
    font-size: .8rem;
}

#Submit_btn {
    width: 15%;
    padding: .5em;
    color: white;
    background: rgb(18, 21, 105);
}


@media(max-width:675px) {
    #Submit_btn {
        width: 30%;
    }

    input,
    select {
        width: 95vw;

    }

    #Success_btn,
    #Failure_btn {
        margin-right: 1em;
    }

    .container h1 {
        margin-left: .5em;
    }



}