* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;


}

.green {
    background: rgb(107, 176, 107);
    width: 100%;
    padding: .5em;
    position: relative;

}

.green_d-none {
    display: none;
}

#btn1 {
    position: absolute;
    right: 0;
    top: 20%;
    margin-right: 2em;
    color: white;
    background-image: linear-gradient(to right, red, blue);
    
  



}

#btn2 {
    position: absolute;
    right: 0;
    top: 20%;
    margin-right: 2em;
     color: white;
    background-image: linear-gradient(to right, red, blue);


}

.red {
    background: rgb(205, 12, 12);
    width: 100%;
    padding: .5em;
    position: relative;

}

.red_d-none {
    display: none;
}



.container {
    margin: 1em;
}

.form-group {
    margin: .5em;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bolder;

}

select {
    padding: 1em;
    margin-top: .5em;
}

textarea {
    margin-top: .5em;
}

input {
    margin-top: .6em;
    padding: .5em;
   

}


input,
textarea,
select {
    width: 50vw;

}


.btn {
    width: 15%;
    padding: .5em;
    color: white;
    background-image: linear-gradient(to right, red, blue);
}

@media(max-width:675px) {
    .btn {
        width: 25%;
    }

    input,
    textarea,
    select {
        width: 100%;

    }

}